@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: #111827;
    --text-color: #d1d5db;
}

html {
    height: 100%;
    background: var(--background-color);
    color: var(--text-color);
}

body {
    margin: 0;
    padding: 0;

    height: 100%;

    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
